{% extends "layout.html" %}
{% load template_helpers %}
{% block content %}
<div id='imageCarousel' class='carousel slide' date-ride='carousel'>
	<ol class='carousel-indicators imageList'>
	{% for i in job.image_count|get_range %}
		<li data-target="#imageCarousel" data-slide-to="{{i}}" class="active"></li>
	{% endfor %}
	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
	{% for i in job.image_count|get_range %}
		<div class="item {% if i = 1 %}active{% else %}{% endif %}">
			<img src="/static/jobs/images/{{job.image_name_base}}{{i}}.jpg" alt="{{job.image_name_base}}" />
			<div class="carousel-caption">
				<p>Caption...</p>
			</div>
		</div>
	{% empty %}
		<div class="item active">
			<p>Sorry, no images available.</p>
		</div>
	{% endfor %}
	</div>
	<!-- Controls -->
	<a class="left carousel-control" href="#imageCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#imageCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-rigzht" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<div class="container">
	<div class="col-md-12">
		<header>
			<h1>{{ job.name }}</h1>
			<span>{{ job.desc }}</span>
		</header>
		<ul>
			<li>{{job.start_date|date}}</li>
		</ul>
	</div>

{% endblock content %}